body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #2F4F4F;
  color: #000000;
  padding: 50px;
  text-align: center; 
}

header h1 {
  font-size: 50px;
  margin-bottom: 20px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

section {
  background-color: #f7f7f7;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 10px;
}

img {
  width: 170px;/*la largeur de la photo */
  height: 170px;/*hauteur de la photo*/
  object-fit: cover; 
  border-radius: 10px;
}

#photo {
  text-align: center;
}

#objectif {
  width: 100%;
}

#diplôme {
  width: 100%;
}

#formation {
  width: 100%;
}

#compétences {
  width: 100%;
}




