
<!DOCTYPE html>
<html lang="fr">
    </html>
    <head>
    </head>
    <meta charset="UTF-8">
    <meta name="viewpert" content="width=device-width, initial=10">
    <title>NOTRE EQUIPE</title>
    
    <style>
        /*====RESET====*/
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'segoe UI', sans-serif;
            scroll-behavior: smooth;
        }

        /*===body===*/
        body{
            background: linear-gradient(135deg,#0a192f,#1f2037);
            color: white;
        }

        /*====header====*/
        header{
            height: 100vh;
            display: flex;
            flex-direction:column;
            justify-content: center;
            align-items: center;
            text-emphasis: none; 
            text-align: center;
            background: linear-gradient(rgba(10,25,47,0.9),rgba(31,41,55,0.9)),url(1.png) center;
        }

        head h1{
            font-size: 3rem;
            letter-spacing: 2px;
            animation: forwards 3s ease;
        }

        header p{
            margin-top: 20px;
            font-size: 1.2rem;
            color: #cbd5e1;
            animation: fadeUp 2s ease;

        }

        header a{
            margin-top: 30px;
            background: #1e3a8a;
            border-radius: 30px;
            text-decoration: none;
            color: white;
            font-weight:bold ;
            transition: 0.4s;
        }

        header a:hover{
            background: #3b82f6;
            transform: scale(1.05);
        }

        /*====section====*/
        section{
            padding: 80px 10%;
            text-align: center;
        }

        .section-tytle{
            font-size: 2rem;
            margin-bottom: 40px;
            color: #3b82f6;
        }

        /*===tem grid===*/
        .team{
            display: grid;
            grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
            gap: 30px;
        }

        /*====CARD===*/
        .card{
            background: rgba(250, 250, 250, 0.05);
            backdrop-filter: blur(10px);
            border-radius: 20px;
            padding: 30px;
            transition: 0.5s;
            opacity: 0;
            transform: translateY(30px);
        }
        .card.show{
            opacity: 1;
            transform: translateY(0);

        }

        .card:hover{
            transform: translateY(-10px);
            box-shadow: 0 15px 40px rgba(0, 0, 0, 0.5);
        }

        .card img{
            width: 100px;
            height: 100px;
            border-radius: 50%;
            margin-bottom: 15px;
            border: 3px solid #3b82f6;
        }
        .card h3{
            margin-bottom: 10px;

        }

        .card p{
            font-size: 0.9rem;
            color: #cbd5e1;
        }

        /*====footer===*/
        footer{
            background: #0f172a;
            padding: 20px;
            text-align: center;
            font-size: 0.9rem;
            color: #94a3b8;
        }

        /*====animation====*/
        @keyframes fadeDown{
            from{opacity: 0; transform: translateY(-40px);} to{opacity: 1; transform: translateY(0);}
        }
        @keyframes fadeUp{ from{opacity: 0; transform: translateY(-40px);} to{opacity: 1; transform: translateY(0);}

        }
        /*====responsive====*/
        @media(max-width:768px){
            header h1{
                font-size: 2rem;
            }
        }
    </style>

    <body>
    </body>
    <head>
    </head>
    <h1>EMIT - DA2I</h1>
    <P>Developpement d'Aplication Internet et Intranet</P>
    <a href="#team">découvrir notre équipe</a>

    <section id="team">
    </section>
    <h2 class="section-tytle">Notre équipe</h2>
    <div class="team">
    </div>
    <div class="card">
    </div>
    <img src="man.png">
    <p>RAZAFIMANDIMBY Valisoa heliso</p>

    <div class="card">
    </div>
    <img src="idéale.jpg">
    <p>HARENA</p>

   
     <div class="CARD">
    </div>
    <img src="christinah - Copie.jpg">
    <P></P>

     <div class="CARD">
    </div>
    <img src="evah.jpg">
    <P>Evah</P>

     <div class="CARD">
    </div>
    <img src="flerioo.jpg">
    <P>fleurio</P>

     <div class="CARD">
    </div>
    <img src="jean_marc.jpg">
    <P>Jean macc</P>

     <div class="CARD">
    </div>
    <img src="mama.jpg">
    <P>jao</P>

     <div class="CARD">
    </div>
    <img src="Miantsa.jpg">
    <P>Mianta</P>

     <div class="CARD">
    </div>
    <img src="Noëmie - Copie.jpg">
    <P>NOëmie</P>

     <div class="CARD">
    </div>
    <img src="patricia.jpg">
    <P>PATRICIA</P>

    <footer>
        Projet academique emit - DA2I | 2026
    </footer>

    <script>
        const card= document.querySelectorAll('.card');

        window.addEventListener('scroll',())
    </script>
