
body{
    font-family:times new roman, time,sans-serif;
    background: linear-grandient(135deg, #ff7e00, #ffb347);
    height: 100vh;
    align-items: center;
    
  }
  img{
    padding: 10px;
    margin: 30px;
    border-radius: 100%;
      width: 300px;
      height:300px
      
  }
  header{
    background:#2c3e50;
    color:white;
    text-align: center;
    padding:30px;
  }
  section{
    padding:20px;
    margin:20px;
    background-color: mintcream;
    border-radius:30px;
  }
  h1{
    color: chartreuse;
    text-align:center;
      text-shadow: 1px 2px black;
      
  }
  project{
    margin-bottom:200px;
  }
  footer{
    text-align:center;
    padding:100px;
    background:#2c3e50;
    color:white;
  }
