body{
font-family: times new roman, time, sans serid;
background-color:#0f172a;
color:white;
margin:0;
padding:20px;
}


header{
text-align:center;
}

.header-images{
display:flex;
justify-content:center;
gap:20px;
margin-top:20px;
}

img{
width:120px;
height:120px;
object-fit:cover;
border-radius:10px;
box-shadow:0 0 10px black;
}

.description{
max-width:700px;
margin:auto;
}


.photo-groupe{
display:block;
margin:auto;
width:300px;
border-radius:10px;
}

.container{
display:grid;
grid-template-columns:1fr 1fr;
gap:20px;
margin-top:30px;
}


.card{
background:#1e293b;
padding:20px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.5);
}
.card:hover{
transform:scale(1.05);
transition:0.3s;
}


.btn{
display:inline-block;
margin-top:10px;
padding:10px;
background:#3b82f6;
color:white;
text-decoration:none;
border-radius:5px;
}

.btn:hover{
background:#2563eb;
}


footer{
text-align:center;
margin-top:40px;
}

h1{
  text-shadow: 1px 2px cyan;
  text-align: center;
  color: white;
}
h2{
  text-shadow: 1px 2px red;
  text-align: center;
  
}


.slider{
display:flex;
overflow:hidden;
width:300px;
  height: 350px;
margin:auto;
}

.slider img{
width:350px;
  height:350px;
animation:slide 20s infinite;
}

@keyframes slide{

0%{transform:translateX(0);}
33%{transform:translateX(-300px);}
66%{transform:translateX(-600px);}
100%{transform:translateX(0);}

}
.header-images img{
width:100px;
height:100px;
border-radius:50%;
transition:0.3s;
}
.header-images img:hover{
transform:scale(1.2);
}
