body {
    font-family: times new roman, time, sans-serif;
    color: #333;
}
section {
    background-color: #f0ffff;
    margin: 30px auto;
    padding: 30px;
    border-radius: 10px;
    border-left: 2px solid #e0ffff; /* bleu informatique */
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    max-width: 1000px;
}
.list{
  width: 90%;
    background-color: #0d1117; 
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    border-left: 4px solid #0fffff; 
}
h1 {
    color: #0077b6;
    font-size: 2.5em;
    margin-bottom: 15px;
    border-bottom: 2px solid #0077b6;
    padding-bottom: 5px;
    text-align: center;
    text-shadow: 1px 2px red ;
}

h2 {
    color: #023e8a;
    font-size: 1.8em;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    text-shadow: 2px 1px red;
}

p {
    font-size: 1em;
    color: #444;
    margin-bottom: 15px;
    text-align: center;
}
ul {
    list-style-type: square;
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}
button {
    background: var(--primary);
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
    background-color: #023e8a;
    
}
footer {
    text-align: center;
    padding: 20px 0;
    background-color: #0077b6;
    color: white;
    font-size: 0.9em;
}
img {
    max-width: 50%;
    height: auto;
    display: block;
    border-radius: 50px;
    margin-bottom: 15px;
    border: 5px solid aliceblue;
    border-style: center;
}
h1,h2, section (max-width: 768px) 
{
    { font-size: 2em; }
    { font-size: 1.5em; }
    { padding: 20px; }
}
.

